{% extends "base.html" %}
{% block title %}{% if task_form.instance.pk %}Update{% else %}Create{% endif %} Task{% endblock %}
{% block content %}
<div class="w-1/2 mx-auto mt-8">
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %}">{{message}}</div>
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ task_form }}
        {{ task_detail_form }}
        <button type="submit" class="mb-5 bg-rose-600 px-3 py-2 text-white mt-2 rounded-md">Submit</button>
    </form>
</div>
{% endblock %}